target/
# Java derleme çıktıları
*.class
*.jar
*.war
*.ear

# Derleme klasörleri
/bin/
/build/
/out/
/target/

# IDE ayar dosyaları
.classpath
.project
.settings/

# VS Code ayarları
.vscode/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db
/.metadata/
